/*初始化代码*/
body,
div,
span,
p,
img,
input,
ul,
li,
h1,
h2,
h3,
h4,
a,
strong,
em,
del,
i,
form,
table,
select,
textarea,
ins {
    margin: 0;
    padding: 0;
    /* 清除标签的默认内外边距 */
}

body {
    font: 12px/100% "微软雅黑";
    background-color: #fff;
}

/*版心*/
.w {
    width: 1044px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #172c45;
    /*text-decoration:是去除下划线*/
}

a:hover {
    color: black;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
    /* display: block; */
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

i {
    font-style: normal;
}

table {
    border-collapse: collapse;
    /*边框合并为单一的边框*/
    border-spacing: 0;
    /*相邻单元格的边框间的距离*/
}

/*清除伪元素*/
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/*初始化代码结束*/

/* 头部导航 */
.header {
    width: 100%;
    height: 86px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    overflow: hidden;
}

.header .log {
    margin-left: 60px;
    margin-top: 17px;
    float: left;
}

.header .log a {
    display: block;
    width: 201px;
    height: 61px;
    background: url("../images/logo.png");
    text-indent: -9999px;
}

.header .nav {
    float: right;
    margin-right: 50px;
    margin-top: 46px;
}

.header .nav li {
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-left: 40px;
}

.header .nav li a {
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.header .nav li a:hover span:nth-child(1) {
    margin-top: -24px;
}

#firstSpan {
    font-weight: bold;
    color: #610085;
}

#firstSpan:hover {
    margin-top: 0;
}

.header .nav li a span {
    display: block;
    transition: all 0.3s;
}

.header .nav li a span:nth-child(2) {
    font-weight: bold;
    color: #610085;
}

.headerTow {
    width: 100%;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    display: none;
}

.headerTow .log {
    margin-left: 60px;
    margin-top: 17px;
    float: left;
}

.headerTow .log a {
    display: block;
    width: 201px;
    height: 61px;
    background: url("../images/logo.png");
    text-indent: -9999px;
}

.headerTow .breadNav {
    width: 34px;
    height: 34px;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    text-align: center;
    line-height: 34px;
    color: #FFFFFF;
    position: relative;
}

.headerTow .breadNav i {
    font-size: 34px !important;
    font-weight: 900;
    transition: all, 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.headerTow .breadNav i:hover {
    font-size: 38px !important;
}

.fullPaseNavBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
    display: none;
    z-index: 10000;
}

.fullPaseNavBg .innerNav {
    width: 1000px;
    height: 514px;
    margin: 160px auto 0;
}

.fullPaseNavBg .innerNav li {
    width: 257px;
    height: 130px;
    padding-left: 76px;
    float: left;
    color: #fff;
}

.fullPaseNavBg .innerNav li:nth-child(1) {
    background: url(../images/homes.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(2) {
    background: url(../images/cases.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(3) {
    background: url(../images/Advantages.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(4) {
    background: url(../images/tiyans.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(5) {
    background: url(../images/services.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(6) {
    background: url(../images/abouts.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(7) {
    background: url(../images/contacts.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li a {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
}

.fullPaseNavBg .innerNav li a:hover {
    text-decoration: underline;
}

.fullPaseNavBg .innerNav li a i {
    padding-left: 15px;
    font-size: 12px;
    font-style: italic;
    color: #949494;
}

/* 头部导航] */

/* 右侧固定信息栏 */
.sidebarIfo {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    width: 55px;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px 0 0 0;
    border-radius: 8px 0 0 8px;
    z-index: 999999;
}

.sidebarIfo li {
    padding-left: 17px;
    border-radius: 8px 0 0 8px;
    transition: all 0.3s;
}

.sidebarIfo li:last-child {
    padding-left: 20px;
}

.sidebarIfo li:hover {
    margin-left: -105px;
    background: rgba(0, 0, 0, 0.6);
}

.sidebarIfo li a {
    display: block;
}

/* 右侧固定信息栏 */
/* 左侧控制导航 */
#fullPage-nav li {
    width: 14px;
    height: 13px;
    margin: 7px;
}

#fullPage-nav li .active span {
    width: 13px !important;
    height: 13px !important;
    background-color: #fff;
}

#fullPage-nav li a {
    position: relative;
}

#fullPage-nav li a.active span {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

#fullPage-nav li a:hover span {
    width: 10px;
    height: 10px;
}

#fullPage-nav li a span {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

#fullPage-nav li .fullPage-tooltip {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* 左侧控制导航] */

/*  <!--顶部导航开始-->*/
#topNav {
    height: 87px;
    background-color: #fff;

}

.leftNav {
    height: 100%;
    width: 280px;
    float: left;

}

.rightNav {
    height: 100%;
    width: 554px;
    float: right;

}

.leftNav img {
    padding: 19px 52px 7px 30px;
}

.rightNav li {
    padding: 46px 18px 23px 15px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.rightNav ul:first-child {
    padding-left: 58px;
}

/* <!--顶部导航结束-->*/

/*<!--第一板块开始-->*/
#bigBg {
    width: 100%;
    height: 100%;
    /*background: url("../images/bgimgtop2.jpg") no-repeat center center;*/
    position: fixed;
    top: 0;
    z-index: 0;


}
#bigBg img{
    display: block;
    margin: 0 auto;
    /*width: 100%;*/
    height: 100%;
    transition: all 36s;

}

.maxBox {
    height: 100%;
    /*background-image: url("../images/bgimgtop2.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*overflow: hidden;*/
    /*margin-top: 200px;*/
    overflow: hidden;
}

/*.image-top {*/
/*position:   fixed;*/
/*top: 0;*/
/*z-index: 1;*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url('../images/bgimgtop2.jpg') no-repeat;*/
/*background-position: 0 0;*/
/*background-size: cover;*/
/*transition: all 36s ease-out;*/
/*transform: scale(1);*/
/*}*/
/*.image-top2 {*/
/*background-image: url('../images/bgimgtop2.jpg');*/
/*}*/
/*.image-top.ainimatesty {*/
/*transition: all 36s ease-out;*/
/*transform: scale(1.4);*/
/*}*/
.topBox {
    height: 500px;
    background-color: rgba(222, 221, 220, .3);
    /*margin-top: 348px;*/
    /*margin-bottom: 221px;*/
    padding-top: 250px;

}

.bigBox {
    height: 711px;
    width: 1172px;
    position: relative;
    margin: 0 auto;
}

.rightBox {
    width: 540px;
    height: 402px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.rightBox img {
    display: none;
}

.leftBox {
    width: 632px;
    height: 642px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #282828;
    color: white;
}

.leftBox div {
    padding-left: 60px;
    padding-top: 60px;
}

.leftBox h2 {
    /*//padding-bottom: 30px;*/
    font-size: 48px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.leftBox p i {
    font-style: italic;
    margin-right: 10px;
}

.leftBox p i,
.leftBox p span {

    font-size: 38px;
    height: 40px;
    line-height: 40px;
}

.leftBox .content {
    margin-bottom: 30px;
    line-height: 30px;
}

.leftBox .tittle {
    margin-bottom: 20px;
}

/*<!--第一板块结束-->*/

/*<!--第二板块开始-->*/
.middleBox {
    position: relative;
    height: 565px;
    margin-top: 447px;
    width: 1367px;
    margin: 360px auto 0;
}

.middleBox .left {
    position: absolute;
    width: 337px;
    height: 100%;
    left: -400px;
    /*background: pink;*/
}

.middleBox .left img {
    height: 565px;
}

.middleBox .right {
    position: absolute;
    width: 419px;
    height: 100%;
    right: -350px;
    background: white;
    color: black;
    padding-left: 50px;
}

.middleBox .right h2 {
    height: 50px;
    font-size: 48px;
    padding-top: 50px;
}

.middleBox .right p {
    font-size: 14px;
    line-height: 30px;
}

/*<!--第二板块结束-->*/

/*<!--第三板块开始-->*/
.footBox {
    width: 1367px;
    height: 337px;
    /*background-color: pink;*/
    margin: 250px auto 80px;
    position: relative;
}

.footBox .footLeft {
    height: 100%;
    width: 467px;
    position: absolute;
    background-color: white;
    left: -542px;
}

.footBox .footLeft p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 62px;
    padding-left: 57px;
}

.footBox .footRight {
    height: 100%;
    width: 566px;
    position: absolute;
    right: -641px;
}

.footBox .footRight img {
    height: 100%;
}

/*<!--第三板块结束-->*/