/* 初始化代码 */

body,
div,
span,
p,
img,
input,
ul,
li,
h1,
h2,
h3,
h4,
a,
strong,
em,
del,
i,
ins {
    margin: 0;
    padding: 0;
    /* 清除标签的默认内外边距 */
}

a {
    text-decoration: none;
    color: #000000;
}

/*a:hover {
    color: #f10215;
}*/

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
    /* display: block; */
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

i {
    font-style: normal;
}

.w {
    width: 1040px;
    margin: 0 auto;
}
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.company {
    position: relative;
    top: 90px;
    /*text-align: center;*/
    /*width: 744px;*/
    /*border-bottom: 1px solid #d2d2d2;*/

    /*    height: 1000px;*/
  background-color: #ffffff;

}
/*.company p {*/
    /*font-size: 14px;*/
    /*line-height: 14px;*/
    /*color: #000000;*/
/*}*/

.content{
    width: 830px;
    /*height: 800px;*/
    background-color: #ffffff;
    margin-left: 211px;
}

.section1{
    width: 742px;
    height: 160px;
    background-color: #ffffff;

}
.section1 .title{
    line-height: 24px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 14px;

}
.section1 .introduce {
    margin-top: 20px;
}
.section1 .introduce span {
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
}

.company .section2 {
    width: 100%;
    height: 220px;
    background-color: #ffffff;
}
.company .section2 .title2 {
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2;
}
.company .section2  .introduce2 {
    margin-top: 20px;
}
.company .section2  .introduce2 p {
    padding-bottom: 16px;
}

.company .section3 {
    width: 742px;
    height: 112px;
    background-color: #ffffff;
}
.company .section3 .title3 {
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2;
}
.company .section3  .introduce3 {
    margin-top: 20px;
}

.company .section4 {
    width: 832px;
    height: 116px;
    background-color: #ffffff;
}
.company .section4 .title4 {
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2;
}
.company .section4 .introduce4 {
    margin-top: 20px;
}
.company .line {
    width: 742px;
    background-color: #ffffff;
    border-top: 1px solid #d2d2d2;
}

.company .img {
    position: absolute;
    left: 0;
    top: 0;
}
.main{
    background: url("../images/lianluo-banner1.png") no-repeat top center;
    width: 100%;
    height: 417px;
    display: none;
}
/*.main img {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 417px;*/
/*}*/

/* 头部导航 */
.header {
    width: 100%;
    height: 86px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    overflow: hidden;
}

.header .log {
    margin-left: 60px;
    margin-top: 17px;
    float: left;
}

.header .log a {
    display: block;
    width: 201px;
    height: 61px;
    background: url("../images/logo.png");
    text-indent: -9999px;
}

.header .nav {
    float: right;
    margin-right: 50px;
    margin-top: 46px;
}

.header .nav li {
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-left: 40px;
}

.header .nav li a {
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.header .nav li a:hover span:nth-child(1) {
    margin-top: -24px;
}
#lastSpan{
    font-weight: bold;
    color: #610085;
}
#lastSpan:hover{
    margin-top: 0;
}


.header .nav li a span {
    display: block;
    transition: all 0.3s;
}

.header .nav li a span:nth-child(2) {
    font-weight: bold;
    color: #610085;
}

.headerTow {
    width: 100%;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    display: none;
}

.headerTow .log {
    margin-left: 60px;
    margin-top: 17px;
    float: left;
}

.headerTow .log a {
    display: block;
    width: 201px;
    height: 61px;
    background: url("../images/logo.png");
    text-indent: -9999px;
}

.headerTow .breadNav {
    width: 34px;
    height: 34px;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    text-align: center;
    line-height: 34px;
    color: #FFFFFF;
    position: relative;
}

.headerTow .breadNav i {
    font-size: 34px !important;
    font-weight: 900;
    transition: all, 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.headerTow .breadNav i:hover {
    font-size: 38px !important;
}

.fullPaseNavBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
    display: none;
    z-index: 10000;
}

.fullPaseNavBg .innerNav {
    width: 1000px;
    height: 514px;
    margin: 160px auto 0;
}

.fullPaseNavBg .innerNav li {
    width: 257px;
    height: 130px;
    padding-left: 76px;
    float: left;
    color: #fff;
}

.fullPaseNavBg .innerNav li:nth-child(1) {
    background: url(../images/homes.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(2) {
    background: url(../images/cases.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(3) {
    background: url(../images/Advantages.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(4) {
    background: url(../images/tiyans.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(5) {
    background: url(../images/services.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(6) {
    background: url(../images/abouts.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li:nth-child(7) {
    background: url(../images/contacts.png) no-repeat 10px 12px;
}

.fullPaseNavBg .innerNav li a {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
}

.fullPaseNavBg .innerNav li a:hover {
    text-decoration: underline;
}

.fullPaseNavBg .innerNav li a i {
    padding-left: 15px;
    font-size: 12px;
    font-style: italic;
    color: #949494;
}

/* 头部导航] */


/* 右侧固定信息栏 */
.sidebarIfo {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    width: 55px;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px 0 0 0;
    border-radius: 8px 0 0 8px;
    z-index: 999999;
}

.sidebarIfo li {
    padding-left: 17px;
    border-radius: 8px 0 0 8px;
    transition: all 0.3s;
}

.sidebarIfo li:last-child {
    padding-left: 20px;
}

.sidebarIfo li:hover {
    margin-left: -105px;
    background: rgba(0, 0, 0, 0.6);
}

.sidebarIfo li a {
    display: block;
}

/* 右侧固定信息栏 */
/* 左侧控制导航 */
#fullPage-nav li {
    width: 14px;
    height: 13px;
    margin: 7px;
}

#fullPage-nav li .active span {
    width: 13px !important;
    height: 13px !important;
    background-color: #fff;
}

#fullPage-nav li a {
    position: relative;
}

#fullPage-nav li a.active span {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

#fullPage-nav li a:hover span {
    width: 10px;
    height: 10px;
}

#fullPage-nav li a span {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

#fullPage-nav li .fullPage-tooltip {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* 左侧控制导航] */

